.app {
  height: 100vh;
  background: linear-gradient(to right top, #34ace0, #0652dd);
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusMessage {
  background-color: #9bd0d5;
  margin-top: 20px;
  display: inline-block;
  padding: 22px 28px;
  color: #000;
  text-decoration: none;
  font: 500 15px "Work Sans", Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  border: none !important;
  position: relative;
  border-radius: 30px;
  text-transform: uppercase;
}

.reseT {
  position: absolute;
  left: 12%;
  top: 60%;
  z-index: 2;
  cursor: pointer;
}

.reseTimg {
  width: 160px;
}

.reseTtag {
  text-align: center;
}

.glassCard {
  min-height: 80vh;
  background-color: white;
  width: 80%;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.1)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*
    Set this element over the others and set a blur effect in the elements are under it
    */
  z-index: 2;
  backdrop-filter: blur(1rem);
}

.circle1,
.circle2 {
  background-color: rgb(255, 255, 255);
  height: 20rem;
  width: 20rem;
  /*
    Set position absolute, because circles are floating elements 
    */
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  left: 6%;
  background: linear-gradient(
    to right bottom,
    rgba(252, 247, 0, 0.9),
    rgba(229, 255, 0, 0.1)
  );
}

.circle2 {
  top: 64%;
  right: 2%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 0, 0, 0.9),
    rgba(255, 0, 0, 0.1)
  );
}
